@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Juan Felipe Asbahr do Monte<br />
    Limeira-SP, Brazil<br />
    <abbr title="Phone">Phone and WhatsApp:</abbr>
    19 995822020
</address>

<address>
    <strong>Email:</strong> <a href="juan_asbahr@hotmail.com">juan_asbahr@hotmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/juan-felipe-asbahr-do-monte-0a1087283/">Juan Felipe Asbahr do Monte</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/JuanAsbahr">JuanAsbahr</a>
</address>
